body {
	background-color: white;
}

.main {
	max-width: 850px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
}

.element-header {
	cursor: pointer;
}

.ui.very.relaxed.horizontal.list .item:first-child {
	width: 150px;
}

.ui.very.relaxed.horizontal.list .item {
	width: 250px;
}

.ui.statistic {
  max-width: initial;
}