<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="semantic.css">
	<link rel="stylesheet" href="main.css">
</head>
<body>


	<div class="main container">
		<div class="ui grid">

			<!-- Header -->
			<div class="row">
				<div class="twelve wide column">
					<h1>Protractor E2E Coverage</h1>
				</div>
				<div class="four wide column">
					<div class="ui two item menu">
						<a href="https://www.npmjs.com/package/protractor-e2e-coverage" class="item">
							Npm
						</a>
						<a href="https://github.com/markuswaltre/protractor-e2e-coverage" class="item">
							Github
							<!-- <div class="floating ui teal label">141</div> -->
						</a>
					</div>
				</div>
			</div>


<!-- 			<div class="row">
				View config
			</div>
 -->
			<div id="statistics" class="row"></div>
			
			<h3>Coverage by element type</h3>
			<div id="statistics_types" class="row"></div>


			<h4 class="ui horizontal header divider">
				States
			</h4>
			<div id="states" class="row"></div>

		</div>


	</div>

	

	<!-- <div id="types" style="display: none;"></div> -->
	<!-- <div id="statistics"></div> -->
	<!-- <div id="states" style="display: none;"></div> -->

	<script type="text/template" id="template_statistics">
		<div class="eight wide column">
			<div class="ui stacked center aligned segment">
				<div class="ui statistic">
					<div class="value">
						<%- statistics.count %> / <%- statistics.tested %>
					</div>
					<div class="label">
						Total elements / Tested
					</div>
				</div>
			</div>
		</div>
		<div class="eight wide column">
			<div class="ui stacked center aligned segment">
				<div class="ui statistic">
					<div class="value">
						<%- statistics.percentage %>%
					</div>
					<div class="label">
						Coverage
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/template" id="template_statistics_types">
		<div class="sixteen wide column">
			<% _.each(types, function(type, index) { %>
				<h5 class="ui attached header <% if(index == 0) print('top') %>">
				  <%- type.type %>
				</h5>
				<div class="ui <% if(index == types.length - 1) print ('bottom') %> attached segment">
					Count: <%- type.count %>, 
					Tested: <%- type.tested %>,
					Percentage: <%- type.percentage %>%
				</div>
			<% }); %>
		</div>
	</script>

	<script type="text/template" id="template_types">
		<h1 onClick="toggleTypes(this)">Project config</h1>
		<div class="types" style="display: none;">
			<% _.each(types, function(type) { %>
				<div class="type">
					<h3>
						Type: <%- type.type %> <br>
						Events: 
						<% _.each(type.events, function(event) { %>
							<%- event %>, 
						<% }); %>
					</h3>
				</div>
			<% }); %>
		</div>
	</script>

	<script type="text/template" id="template_states">

		<div class="sixteen wide column">
			<div class="ui styled fluid accordion">
				<% _.each(states, function(state) { %>
				  <div class="title">
						<h3>
							<i class="dropdown icon"></i>
							<%- state.url %><br>
							Elements: <%- state.count.seen %>, 
							Elements tested here: <%- state.count.tested %>, 
							Elements tested global: <%- state.count.tested_global %> <br>
							Percentage here: <%- state.percentage.here %>%, 
							Percentage global: <%- state.percentage.global %>%
						</h3>
				  </div>
				  <div class="content">
						<div class="ui hidden divider"></div>
						<h3>Statistics per type</h3>			
						<table class="ui table">
						  <thead>
						    <tr>
						      <th>Type</th>
						      <th>Count</th>
						      <th>Visited here (%)</th>
						      <th>Visited global (%)</th>
						    </tr>
						  </thead>
						  <tbody>
								<% _.each(state.types, function(type) { %>
									<tr>
										<td><%- type.type %></td>
										<td><%- type.seen %></td>
										<td><%- type.here %> (<%- type.percentage_here %>%)</td>
										<td><%- type.global %> (<%- type.percentage_global %>%)</td>
									</tr>
								<% }); %>
						  </tbody>
						</table>

						<div class="ui hidden divider"></div>
						<h3>Elements</h3>		

						<div class="ui divided very relaxed list">
							<% _.each(state.elements, function(elem) { %>
							  <div class="item">
							  	<i class="icon star"></i>
							    <div class="content">
							      <div class="header"><%- elem.type %></div>
										Tested: <%- elem.tested %>,
										Percentage here <strong><%- elem.percentage.here %></strong>%, 
										Percentage global <strong><%- elem.percentage.global %></strong>%
							    </div>
							  </div>
						  <% }); %>
						</div>
				  </div>
			  <% }); %>
			</div>
		</div>

		<% _.each(states, function(state) { %>
			<div class="state">
				<div class="header" onClick="toggleState(this)">
					<h1><%- state.url %></h1>
					<h3>
						Elements: <%- state.count.seen %>, 
						Elements tested here: <%- state.count.tested %>, 
						Elements tested global: <%- state.count.tested_global %> <br>
						Percentage here: <%- state.percentage.here %>%, 
						Percentage global: <%- state.percentage.global %>%
					</h3>
				</div>
				<div class="content" style="display: none;">
					<div class="types">
						<% _.each(state.types, function(type) { %>
							<h5>
								Type: <%- type.type %> <br>
								Count: <%- type.seen %> <br>
								Here: <%- type.here %> <br>
								Global: <%- type.global %> 
							</h5>
						<% }); %>
					</div>

					<% _.each(state.elements, function(elem) { %>
						<div onClick="toggleElement(this, 'ul')">
							<p>
								Tested: <%- elem.tested %>, Type: <%- elem.type %> <br>
								Percentage here <strong><%- elem.percentage.here %></strong>%
								Percentage global <strong><%- elem.percentage.global %></strong>% <br>
							</p>

							<ul style="display: none;">
								<li>
									Element<br>
									<%- elem.element %>
								</li>
								<li>
									Element type<br>
									<%- elem.type %>
								</li>
								<li>
									Tested<br>
									<%- elem.tested %>
								</li>
								<li>
									Hash<br>
									<%- elem.hash %>
								</li>
								<li>
									Events seen here<br>
									<% _.each(elem.events, function(event) { %>
										<i>'<%- event %>'</i> 
									<% }); %>
								</li>
								<li>
									Events not seen here<br>
									<% _.each(elem.eventsStats.unseen, function(event) { %>
										<i>'<%- event %>'</i> 
									<% }); %>
								</li>
								<li>
									Events seen global<br>
									<% _.each(elem.eventsStats.seen_global, function(event) { %>
										<i>'<%- event %>'</i> 
									<% }); %>
								</li>
								<li>
									Events not seen global<br>
									<% _.each(elem.eventsStats.unseen_global, function(event) { %>
										<i>'<%- event %>'</i> 
									<% }); %>
								</li>
							</ul>
						</div>
						<hr>
					<% }); %>
				</div>
			</div>
		<% }); %>
	</script>

	<script type="text/template" id="config"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="accordion.js"></script>
	<script src="script.js"></script>
</body>
</html>