body {
	background-color: white;
}

.main {
	max-width: 850px;
	margin: 0 auto;
	margin-top: 50px;
}

.statistics-types {
	padding-top: 50px;
}

span.ui.mini.tag.label {
  position: absolute;
  margin-top: -20px;
  right: 28px;
}